<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Tessera Login Home Page{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body style="background-color: #9fcdff">
  <header>
    <h1 style="margin-left: 40%;">Tessera Login Home Page</h1>
  <hr>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}" style="; margin-left: 88%; font-size: 40px; -webkit-text-fill-color: #1d2124; text-decoration: none;">login</a>
    {% endif %}

  </header>
<hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>


</body>
</html>